// break point setting
@mixin pad {
    @media(max-width:992px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:576px) {
        @content;
    }
}

// general

// :root {
//     --primary-red: #AA0601;
//     --dark-red: #650300;
//     --background: #FBF2F2;
//     --dark-gray: #707070;
// }
body * {
    box-sizing: border-box;
}

button,
a,
li,
time {
    font-family: "Roboto", "Noto Sans TC", sans-serif;

}

button,
a {
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }
}


p,
h2,
h3,
h4,
label {
    font-family: "Noto Sans TC", "Roboto", sans-serif;
    line-height: 1.5;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

section.general-section {
    padding: 96px 0 48px 0;
    @include pad{
        padding: 80px 0 56px 0;
    }
    @include mobile{
        padding: 40px 0;
    }

    .title {
        padding-left: 16px;
        border-left: 8px solid $primary-color;
        margin-bottom: 32px;
        
        @include mobile{
            margin-bottom: 24px;
        }

        h2 {
            font-size: 48px;
            color: black;
            
            text-align: left;
            @include mobile{
                font-size: 24px;
            }
        }
    }
}