// break point setting
@mixin pad {
    @media(max-width:992px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:576px) {
        @content;
    }
}
// flex

.d-flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-end {
    justify-content: flex-end;
}

.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

// utilities


.container-md-fluid {
    max-width: 1320px;
    padding: 0 12px;
    margin: 0 auto;

    @include pad {
        max-width: 767px;
    }

    @include mobile {
        max-width: 576px;

    }

}

.container-sm-full {
    @include mobile {
        max-width: 576px;
        margin: 0 auto;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-left: -12px;
}

.col-lg-6 {
    width: calc(100% / 2);
    padding-right: 12px;
    padding-left: 12px;
}

.col-lg-4 {
    width: calc(100% / 3);
    padding-right: 12px;
    padding-left: 12px;
}

.col-lg-3 {
    width: calc(100% / 4);
    padding-right: 12px;
    padding-left: 12px;
}

.col-md-6 {
    @include pad {
        width: calc(100% / 2);
        padding-right: 12px;
        padding-left: 12px;
    }
}

.col-md-4 {
    @include pad {
        width: calc(100% / 3);
        padding-right: 12px;
        padding-left: 12px;
    }
}

.col-md-3 {
    @include pad {
        width: calc(100% / 4);
        padding-right: 12px;
        padding-left: 12px;
    }
}

.col-md-10 {
    @include pad {
        width: calc(100% / 12 * 10);
        padding-right: 12px;
        padding-left: 12px;
    }
}

.col-md-12 {
    @include pad {
        width: 100%;
        padding-right: 12px;
        padding-left: 12px;
    }
}

.col-lg-6,
.col-lg-4,
.col-lg-3,
.col-md-10,
.col-md-6,
.col-md-4,
.col-md-3 {
    @include mobile {
        width: 100%;
    }
}

.text-white {
    color: white;
}

.bg-color {
    background-color: $background;
}

.w-100 {
    width: 100%;
}

.h-100{
    height:100%;
}

.m-0{
    margin: 0;
}

.p-0{
    padding: 0;
}
.pt-0{
    padding-top: 0;
}