<footer class="footer">
    <div class="container-md-fluid .container-sm-full">
        <div class="footer-info d-flex justify-content-between">
            <div class="d-flex flex-column">
                <div class="map">
                    <ul class="d-flex">
                        <li><a href="index.html">首頁</a></li>
                        <li><a href="product.html">系列鏡框</a></li>
                        <li><a href="address.html">門市據點</a></li>
                        <li><a href="">部落格</a></li>
                        <li><a href="">常見問題</a></li>
                    </ul>
                </div>
                <div class="contact">
                    <div class="contact-item d-flex"> <span class="material-icons">
                            local_phone
                        </span>
                        <a href="tel:+886-0800-000-000">0800-000-000</a>
                    </div>
                    <div class="contact-item d-flex">
                        <span class="material-icons">
                            mail_outline
                        </span>
                        <a href="mailto:glasses@business.co">glasses@business.com</a>
                    </div>


                </div>
            </div>
            <div class="footer-social-media">
                <ul class=" d-flex">
                    <li><a href=""><img src="../assets/images/ic-social-fb.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/ic_social_ig.png" alt=""></a></li>
                    <li><a href=""><img src="../assets/images/ic_social_line.png" alt=""></a></li>
                </ul>
            </div>
        </div>
        <hr>
        <div class="footer-copyright">
            <p>Copyright © 2020 Glasses.All rights reserved.</p>
            <div class="license-group">
                <a href="">隱私權政策</a><a href="">服務條款</a>
            </div>

        </div>
    </div>
</footer>