<nav class="navbar">
    <div class="container-md-fluid container-sm-full">
        <div class="d-flex justify-content-between flex-wrap">
            <h1>
                <div class="logo">
                    <a href="">
                        <img src="../assets/images/logo-white.png" alt="logo">
                    </a>
                </div>
            </h1>
            <ul class="navbar-items-group">
                <li class="navbar-items"><a href="">系列鏡框</a></li>
                <li class="navbar-items"><a href="">門市據點</a></li>
                <li class="navbar-items"><a href="">部落格</a></li>
                <li class="navbar-items"><a href="">常見問題</a></li>
            </ul>
        </div>
    </div>
</nav>