// break point setting
@mixin pad {
    @media(max-width:992px) {
        @content;
    }
}

@mixin mobile {
    @media(max-width:576px) {
        @content;
    }
}

// section of product

section.product {}

nav.product-type {
    .container-sm-full{

        @include pad{
        padding: 0;
        }
    }
    li {
        width: calc(100% /3);
        display: flex;
        justify-content: center;
        border:1px solid #DCDCDC;

        a {
            font-weight: 500;
            line-height: 1.5;
            display: block;
            font-size: 32px;
            padding: 24px 0;
            @include mobile{
                font-size: 16px;
                padding: 16px 0 8px 0;
            }
        }

        &.active {
            border-bottom: 8px solid $primary-color;
        }
    }
}

.product-banner {
    padding-bottom: 80px;
    @include mobile{
        padding-bottom: 40px;
    }

    img {
        width: 50%;
        height: 296px;
        object-fit: cover;
        @include mobile{
            height: 136px;
        }
    }
}

.product-list {
    .pagination{
        @include mobile{
            margin-top: 40px;
            margin-bottom: 64px;
        }
    }
    .title {
        margin-bottom: 32px;
        @include mobile{
            margin-bottom: 24px;
        }

        h2,
        h3 {
            text-align: center;
            color: black;
            font-size: 42px;
        
        }

        h2 {
            font-size: 32px;
            font-weight: 300;
            @include mobile{
                font-size: 24px;
            }
        }
        h3{
            font-weight: 500;
            @include mobile{
                font-size: 24px;
            }
        }
    }
}

.product-items {
    margin-bottom: 80px;
    @include mobile{
        margin-bottom: 24px;
    }
 img{
    height: 168px;
    width: 100%;
    object-fit: cover;
 }
    p {
        font-size: 24px;
        display: flex;
        span{
            color:$primary-color;
            margin-left: auto;
        }
    }


    .color-bolck {
        width: 24px;
        height: 24px;
        border-radius: 4px;
        &:first-child {
            margin-right: 8px;
        }
        &.red {
            background-color: #B75929;
        }

        &.brown {
            background-color: #5F3E2D;
        }
    }

}